* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #05668d;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #028090;
}

.navigation-wrapper li {
  padding: 1rem;
}
